# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Folder containing the source files for the frontend (working on this, will be added later)
web-dev/

# Hide the env file (you can see an example in the dev.env file)
.env

# Little main function for testing purposes
cmd/dev/

# Public and private keys for jwt signing
keys